header {
    display: flex;
    align-items: center;

    height: 17vh;

    padding: 4vh;
    
    color: black;
    background-color: #F0F0F0;
}

a {
    text-decoration: none;

    color: black;
}

.logo{
    width: 20vw;

    margin-right: 2vw;
}

.titulo-site {
    width: 50vw;
}

.login {
    display: flex;
    justify-content: end;
    
    width: 20vw;

    font-size: 0.5em;
}
