.div-tabela {
    background-color: #F0F0F0;

    padding: 2vh 0vh 0vh 0vh;

    border-radius: 4px;
}

.lista-tccs {    
    text-align: center;
    font-size: 14px;
}

.lista-tccs tr:first-child {
    background-color: #E0E0E0;
}

.lista-tccs tr:not(:first-child) {
    text-align: left;
}

.lista-tccs tr:not(:first-child):nth-child(odd) {
    background-color: #D6D6D6;
}

.lista-tccs tr:nth-child(even) {
    background-color: #EBEBEB;
}

.lista-tccs td {
    vertical-align: middle;

    width: 20%;

    padding: 2vh;

    line-height: 3vh;

    border: solid 1px #3D3D3D;
}

.td-autores-avaliadores {
    line-height: 4vh !important;
}

.p-avaliador {
    display: contents;

    font-weight: bold;
}

.td-botao {
    text-align: center;
}

.td-botao button {
    padding: 6px 24px 6px 24px;

    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    
    background-image: url("../images/download-arrow.png");
    background-repeat: no-repeat;
    background-position: left;
    background-position-x: 12%; 
    background-size: 2vh;

    color: #000103;
    cursor: pointer;
}

.td-botao button a {
    margin-left: 24%;
}